Новые квартиры:
{{#r.newlyCreatedApartments}}
  {{#location.address}}
{{location.address}} {{floor}}/{{number_of_floors}} {{url}}
  {{/location.address}}
  {{^location.address}}
{{location.userAddress}} {{floor}}/{{number_of_floors}} {{url}}
  {{/location.address}}
{{/r.newlyCreatedApartments}}

Исчезнувшие квартиры:
{{#r.disappearedApartments}}
  {{#location.address}}
{{location.address}} {{floor}}/{{number_of_floors}} {{url}}
  {{/location.address}}
  {{^location.address}}
{{location.userAddress}} {{floor}}/{{number_of_floors}} {{url}}
  {{/location.address}}
{{/r.disappearedApartments}}


Изменение цены:
{{#r.changedApartments}}
  {{#newApartment.location.address}}
{{newApartment.location.address}}
  {{/newApartment.location.address}}
  {{^newApartment.location.address}}
{{newApartment.location.userAddress}}
  {{/newApartment.location.address}}
{{previousApartment.price.amount}} => {{newApartment.price.amount}} {{newApartment.url}}

{{/r.changedApartments}}
