Новые квартиры:
{{#r.newlyCreatedApartments}}
  {{#location.address}}
{{location.address}} {{url}}
  {{/location.address}}
  {{^location.address}}
{{location.userAddress}} {{url}}
  {{/location.address}}
{{/r.newlyCreatedApartments}}


Изменение цены:
{{#r.changedApartments}}
  {{#newApartment.location.address}}
{{newApartment.location.address}}
  {{/newApartment.location.address}}
  {{^newApartment.location.address}}
{{newApartment.location.userAddress}}
  {{/newApartment.location.address}}
{{previousApartment.price.amount}} => {{newApartment.price.amount}} {{newApartment.url}}

{{/r.changedApartments}}