<style>
    .table {
        table-layout: fixed;
        border-collapse: collapse;
    }

    .table, tr, td {
        border: 1px solid darkgrey;
    }

    td {
        padding: 0px 5px;
    }

    .last-floor {
        color: red;
    }
</style>

<h1>
Квартиры (последний этаж)
</h1>
<table class="table">
{{#lastFloor}}
<tr>
    <td>
        {{address}}
    </td>
    <td>
        {{price}}
    </td>
    <td>
        ({{area.total}}/{{area.living}}/{{area.kitchen}})
    </td>
    <td>
        <a href="{{url}}" target="_blank">{{url}}</a>
    </td>
</tr>
{{/lastFloor}}
</table>

<h1>
Квартиры (все)
</h1>
<table class="table">
{{#all}}
<tr>
    <td>
        {{address}}
    </td>
    <td>
        {{price}}
    </td>
    <td>
        ({{area.total}}/{{area.living}}/{{area.kitchen}})
    </td>
    <td>
        <a href="{{url}}" target="_blank">{{url}}</a>
    </td>
    <td>
        {{#lastFloor}}
        <div class="last-floor">*</div>
        {{/lastFloor}}
    </td>
</tr>
{{/all}}
</table>