<style>
    .table {
        table-layout: fixed;
        border-collapse: collapse;
    }

    .table, tr, td {
        border: 1px solid darkgrey;
    }
    td {
        padding: 0px 5px;
    }
    .last-floor {
        color: red;
    }
</style>

<table class="table">
    {{#a}}
    <tr>
        <td>
            {{address}}
        </td>
        <td>
            {{price}}
        </td>
        <td>
            <a href="{{url}}" target="_blank">{{url}}</a>
        </td>
        <td>
            {{#lastFloor}}
            <div class="last-floor">*</div>
            {{/lastFloor}}
        </td>
    </tr>
    {{/a}}
</table>