<head>
<link rel="stylesheet" href="style.css">
</head>
<body>
<table class="apartments-table">
    <tr>
        <td>
            ID
        </td>
        <td>
            Дата
        </td>
        <td>
            Адрес
        </td>
        <td>
            Цена
        </td>
        <td>
            Этаж/этажность
        </td>
        <td>
            Площадь
        </td>
        <td>
            Ссылка
        </td>
    </tr>
    {{#apartments}}
    <tr>
        <td>
             {{apartment.id}}
        </td>
        <td>
            {{created}}
        </td>
        <td>
            {{apartment.location.address}}
        </td>
        <td>
             {{apartment.price.amount}} USD
        </td>
        <td>
            {{apartment.floor}}/{{apartment.numberOfFloors}}
        </td>
        <td>
            {{apartment.area.total}}/{{apartment.area.living}}/{{apartment.area.kitchen}}
        </td>
        <td>
            <a href=" {{apartment.url}}">link</a>
        </td>
    </tr>
    {{/apartments}}
</table>
</body>

